{% extends "base.html" %}
{% load static %}
{% block cssjs %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

{% block main%}
	<main>

	<div class="banner">
		{% if request.user.is_authenticated %}
		<h1 id="typeTarget">
	        Hello&nbsp;{{request.user.username}}.歡迎參加資工宿營
	    </h1>
		{% else %}
	    <h1 id="typeTarget">
	        歡迎來到東華資工，.想要參加一場專屬大一新生的冒險嗎？.
	        9/19 - 9/21，迎新宿營等著你！.
	        下滑解鎖更多資訊
	    </h1>
	    {% endif %}
	</div>

	<div class="hidden-before-type" id="main">
		{% if request.user.is_authenticated %}
		<div class="boxbg" style="background-color: #555; border-bottom: 5px solid #888;">
	    <!--div style="text-align: left; align-items: left; justify-content: left;"-->
	    	<h2>隨便放個留言板</h2>
	    <form method="post">
		    {% csrf_token %}
		    <textarea name="comment" rows="3" cols="50" placeholder="匿名但公開頁面禮貌發言，不然我要加班把你抓出來；；" required></textarea>
		    <button type="submit" onclick="return confirm('留言後無法更改，確定送出？')">送出</button>
		</form>
	    </div>
	    <div class="boxbg" style="background-color: #555">
		{% for comment in comments %}
        <div style="margin-left: {{ comment.pos }}%; margin-bottom: 5px;">
            <span><p class="comment">{{ comment.comment }}</p></span>
        </div>
    	{% endfor %}
	    </div>
	    {% else %}
	    <div class="intro">
	        <h2 class="subtitle">
	            Intro<br>
	            活動介紹
	        </h2>
	        <div class="dialog">
	            <div class="text">
	            迎新宿營是為了讓新生能在開學後認識彼此而舉行的活動，總共三天兩夜！<br>
	            第一天預計於晚上六點集合，透過破冰遊戲讓大家有初步相處；第二天是戶外活動，將帶大家到秀姑巒溪泛舟，晚上還有溫泉民宿的烤肉；第三天會回到校內進行積分遊戲，以及最後包含積分拍賣、精彩表演的晚會。<br>
	            </div>
	            <div class="respond">
	               <div class="q"><span class="arrow">▶</span> 活動時間<br></div>
	               <div class="a">2025/9/19-2025/9/21<br></div>
	               <div class="q"><span class="arrow">▶</span> 參加費用<br></div>
	               <div class="a">2800/ 人<br>8/24 前早鳥優惠 2700/ 人 </div>
	               <div class="q"><span class="arrow">▶</span> 報名期限</div>
	               <div class="a">即日起 -2025/9/11<br></div>
	               <div class="q"><span class="arrow">▶</span> 繳費方式<br></div>
	               <div class="a">9/13 前現金或轉帳<br></div>
	               <div class="q"><span class="arrow">▶</span> 如果不能下水怎麼辦<br></div>
	               <div class="a">泛舟時也可以選擇去瑞穗牧場喔！<br></div>
	               <div class="q"><span class="arrow">▶</span> 其他問題<br></div>
	               <div class="a">歡迎點右上角問號箱至IG詢問！<br></div>
	            </div>
	        </div>
	    </div>

	    <div class="schedule">
	        <h2 class="subtitle">
	            Detail<br>
	            活動流程
	        </h2>
	        <div class="wrapper">
	            <img src="{% static 'img/schedule1.webp' %}"  />
	            <img src="{% static 'img/schedule2.webp' %}" />
	            <img src="{% static 'img/schedule3.webp' %}" />
	        </div>
	    </div>

		<h2 class="signup">
	        <a href="https://docs.google.com/forms/d/e/1FAIpQLScBZUtgIJM4Bq-Ekz5vmTPZHnxbrjnKRcDH29cB_3SQNX5HwQ/viewform?pli=1">
	        Sign UP<br>
	        <span class="blink">▶</span>我要報名！
	        </a>
	    </h2>
	    {% endif %}

	    	    
	</div>

	</main>
{% endblock %}